* {
  margin: 0;
  padding: 0;
}
.drop-nav-wrapper {
  display: flex;
  justify-content: flex-start;;
}

.drop-down-nav {
  
  list-style: none;
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;
  // border: solid 1px white;
  width: 100%;
  height: 40px;
  text-align: left;


  & a {
    display: block;
    font-size: 14px;
    height: 25px;
    padding: 10px;
    padding-left: 40px;
    color:black;
    
  }
}

.submenu {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: 100%;
  background-color:#eeeeee;
  margin:0;
  list-style: none;
  color:black;
}


.submenu a:hover{
  background-color: #333333;
  color: white;
  
}
.board-name {
  color:#333333;
}