* {
  margin: 0;
  padding: 0;
}
.drop-nav-wrapper {
  display: flex;
  justify-content: flex-start;
  padding-left:40px;
}

.drop-down-nav {
  
  list-style: none;
  position: relative;
  text-decoration: none;
  padding-bottom: 2px;
  border: solid 1px white;
  width: 150px;
  height: 40px;

  & a {
    display: block;
    font-size: 14px;
    height: 25px;
    padding: 10px;
    color:black;
    
  }
}

.submenu {
  display: flex;
  justify-content: flex-start;
  flex-flow: column;
  width: 100px;
  background-color:#eeeeee;
  margin:2px;
  list-style: none;
  color:black;
}


.submenu a:hover{
  background-color: grey;
  
}
.board-name {
  color:#333333
}