.navbar-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    background-color: #f7f7f7;
    height: 6vh;
    align-content: center;
    
    
}

.nav-img {
    height: 4vh;
}
.search-img {
    height:2vh
}

.navbar-tab {
    height: 20px;
    margin: 8px;
    :hover {
        background-color: #009aff;
      };
     
}
.search-bar {
    border-radius: 15px;
    // border: 2px solid #73AD21;
    padding: 10px; 
    margin: 1vh;
   
}

.add-member-span {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
    align-items: center;
    text-decoration: none;
    :hover {
        color: #009aff;
    }
}
.add-text {
    text-decoration: none;
    color: #333333;
}
