.inbox-wrapper-component {
    margin-top:5%;
    display: flex;
    min-height:100%;
    height: fit-content;
    width: calc(100% - 19.89vw);
    flex-direction: column;
    // float: right;
    // background-color: orange;
    justify-content: flex-start;

}

.inbox-title-wrapper {
    height: 10vh;
    //width: 80.11vw;
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    // background-color:chartreuse;
    
}

.inbox-title-comp {
    display: flex;
    justify-content: right;
   vertical-align: top;
    font-size: 30px;
    font-weight: 600;
  //  width: 70vw;
    overflow: hidden;
    padding: 0 1vw;
    //z-index: 1;
  
}

.inbox-title-actions {
    display: flex;
    height: 4vh;
    width: calc(100% - 18vw);
    
    align-items: center;
    justify-content: flex-end;
   // background-color: chartreuse;
    text-decoration: none;
    :hover {
        color: #009aff;
      };
    padding: 0 10px;
   // margin: 0 10px;
    float: right;
   

}

.active{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}
.inbox-all-updates{
    text-decoration: none;
    color: #333333;
    
}
.middle-space-wrapper{
    display: flex;
    height: auto;
   // width: 80vw;
   // background-color: orange;
    flex-direction: column; 
    float:right;
}

.middle-space-wall{
    // margin-right: 70px;
}

.posts-list{
    float:right;
    // background-color: #6495ED;
   // max-width: 80vw;
    width: calc(100% - 5vw);
    display: flex;
    flex-direction: column;

}