.inbox-wrapper {
    display: flex;
    height: 100vh;
    max-width: calc(100% - 19.89vw);
    flex-direction: column;
    float: right;
    background-color: orange;
    justify-content: flex-start;

}

.inbox-title-wrapper {
    height: 10vh;
    //width: 80.11vw;
    width: calc(100% - .01vw);
    display:flex;
    justify-content: left;
    align-items: center;
    background-color:chartreuse;
    
}

.inbox-title {
    display: flex;
    justify-content: left;
   vertical-align: top;
    font-size: 30px;
    font-weight: 600;
  //  width: 70vw;
    overflow: hidden;
    padding-left: 5vw;
  
}

.inbox-title-actions {
    display: flex;
    height: 4vh;
    width: calc(100% - 9.9vw);
    align-items: center;
    justify-content: flex-end;
   // background-color: chartreuse;
    text-decoration: none;
    :hover {
        color: #009aff;
      };
    background-color: red;

}

.active{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}
.inbox-all-updates{
    text-decoration: none;
    color: #333333;
    
}
.middle-space-wrapper{
    display: flex;
    height: auto;
   // width: 80vw;
   // background-color: orange;
    flex-direction: column; 
    float:right;
}

.middle-space-wall{
    margin-right: 70px;
}

.posts-list{
    float:right;
    background-color: #6495ED;
   // max-width: 80vw;
    width: calc(100% - 5vw);

}