.inbox-wrapper {
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
  

    

}

.inbox-title-wrapper {
    height: 10vh;
    width: 100vw;
    display:flex;
    justify-content: left;
    align-items: center;
     //background-color: blue;
     align-items: center;
}

.inbox-title {
    display: flex;
    justify-content: left;
   vertical-align: top;
    font-size: 30px;
    font-weight: 500;
    width: 70vw;
    overflow: hidden;
    
  
}

.inbox-title-actions {
    display: flex;
    height: 4vh;
    width: 30vw;
    
    align-items: center;
    justify-content: flex-end;
   // background-color: chartreuse;
    text-decoration: none;
    :hover {
        color: #009aff;
      };

}

.active{
    text-decoration: none;
    color: #333333;
    font-weight: 700;
}
.inbox-all-updates{
    text-decoration: none;
    color: #333333;
    
}
.middle-space-wrapper{
    height: 100vh;
    width: 100vw;
   // background-color: orange;
    flex-direction: column; 
}

.middle-space-wall{
    margin-right: 70px;
}