.get-started{
    width:300px;
    height:45px;
    
    background-color:rgba(124, 5, 204, 1);
    border-radius:25px;
    color:white;
    font-size: 1em;
    font-weight: 500;
    transition: .3s;


    &:hover{
        background-color:rgba(124, 5, 204, 0.5);
        cursor: pointer;
    }
}