.leftpane-container {
  width: 250px;
  height: 100vh;
  background-color: #eeeeee;
}

.title{
  color:#333333;
}

.leftpane-component {
  height: 65px;
  border-bottom:solid 1px #999999;
}

.leftpane-inbox-component {
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 55px;
  border-bottom:solid 1px #999999;
  a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  
  &:hover{
    background-color: #009aff;
    color:white;
    cursor: pointer;
    .title{
      color:white !important; 
    }
    .inboxCounter{
      background: white;
      color:#333333;
    }
  }
}

.inbox-wrapper{
display: flex;
justify-content: center;
align-items: center;

}
.inboxCounter {
  color:white;
  padding: 3px 15px;
  border-radius: 15px;
  margin-left: 125px;
  background-color: #009aff;
}

.leftpane-week-component {
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 55px;
  border-bottom:solid 1px #999999;
  &:hover{
    background-color: #009aff;
    color:white;
    cursor: pointer;
    .title{
      color:white !important; 
    }
  }
  a{
    text-decoration: none;
  }
}

.leftpane-boards-public-list-component {
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 55px;
  border-bottom:solid 1px #999999;
  &:hover{
    background-color: #009aff;
    color:white;
    cursor: pointer;
    .title{
      color:white !important; 
    }
  }
  a{
    text-decoration: none;
  }
}

.leftpane-boards-private-list-component {
  display: flex;
  align-items: center;
  padding-left: 25px;
  height: 55px;
  border-bottom:solid 1px #999999;
  &:hover{
    background-color: #009aff;
    color:white;
    cursor: pointer;
    .title{
      color:white !important; 
    }
  }
  a{
    text-decoration: none;
  }
}



