.dashboard-wrapper{
  position: relative;
  margin-top:7vh;
  
}
.dashboard-inner-wrapper{
  margin-left:250px;
  min-width:calc(100% - 20%);
  height: calc(100vh - 7vh);
  // background-color:blue;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;
  overflow: visible;
}
.dashboard-inner-wrapper > div {
  position: absolute;
  width:100%;
  height:100%;
}
.topNavBar {
  width:100vw;
  position:fixed;
  top:0;
  z-index: 100;
  display:flex;
  justify-content: flex-end;
}
.dashboard-wrapper-inner {
 margin-left: 250px;

}

@media only screen and (max-width: 1280px) {

  .dashboard-inner-wrapper {
    margin-left: 210px;
  }
  
}