.dashboard-wrapper{
  position: relative;
  margin-top:50px;
}
.dashboard-inner-wrapper{
  margin-left:20%;
  min-width:calc(100% - 20%);
  height:auto;
  // background-color:blue;
  position: relative;
  display:flex;
  flex-direction: column;
  align-items:center;
  overflow: visible;
}
.topNavBar {
  width:100vw;
  position:fixed;
  top:0;
  z-index: 100;
  display:flex;
  justify-content: flex-end;
}
.dashboard-wrapper-inner {
 margin-left: 250px;

}

@media only screen and (max-width: 1280px) {

  .dashboard-wrapper-inner {
    margin-left: 210px;
  }
  
}