$nav-color: white;
$button-color: #a358df;
$product-color: #ff0476;
$why-color: #00a9ff;
$nav-font-weight: 700;
$font-family: 'Nunito Sans', sans-serif;

body {
    font-family: $font-family;
}

.nav-container {
    width: 100%;
    height: 50px;
    background-color: $nav-color;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 10000000;
    padding: 10px;
}

.nav-right {
    display: flex;
    align-items: center;

    div {
        margin: 0 20px;
        font-weight: $nav-font-weight;
        font-size: 16px;
    }
    div:hover, button:hover {
        cursor: pointer;
    }
    #nav-product:hover {
        color: $product-color;
    }
    #nav-product:focus {
        color: $product-color;
    }
    #nav-why:hover {
        color: $why-color;
    }
    #nav-why:focus {
        color: $why-color;
    }
    button {
        margin: 0 20px;
        padding: 5px 25px;
        border-radius: 20px;
        background: transparent;
        border: 1px solid black;
        font-size: 18px;
        font-family: $font-family;
        font-weight: $nav-font-weight;
    }
    button:hover {
        color: $button-color;
        border-color: $button-color;
        transition: .1s;
    }
    button:focus {
        outline: none;
        border-color: $button-color;
    }
}

.nav-logo {
    background-image: url(../../assets/monday-logo-final.png);
    height: 100%;
    width: 200px;
    background-size: contain;
    background-repeat: no-repeat;
    margin-top: 15px;
}
