.slide-in-container {
    background: rgb(148, 148, 218);
    height: 100vh;
    width: 500px;
    right: 0;
    top: 0;
    float: right;
    transform: translateX(0px);
    position: fixed;
    box-shadow: 0 0 10px 0 #999;
}