
@import '../../views/marketing/variables.scss';


@keyframes in {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(180deg);
    }
}
@keyframes out {
    from {
        transform: rotate(180deg);
    }
    to {
        transform: rotate(0deg);
    }
}

.slide-in-container {
    background: white;
    height: 100vh;
    width: 550px;
    right: 0;
    top: 0;
    position: fixed;
    box-shadow: 0 0 10px 0 #999;
    transition: all ease .5s;
    overflow: scroll;

}


.content-container {
    padding: 15px;
    display: flex;
    flex-direction: column;
}

#close-button {
    align-self: flex-start;
    cursor: pointer;
    animation: in .3s;
    font-weight: 600;
    &:hover {
        animation: out .3s;
    }
}

form {
    border: none;
    padding: 20px;
}

.title-input {
    padding: 15px;
    width: 90%;
    margin: 0px 0;
    border: .5px dotted transparent;
    font-size: 25px;
    font-weight: 600;
    color: black;
    &:hover {
        border: .5px dotted rgba(0, 0, 0, 0.329);
    }
}

.divider {
    height: 1px;
    width: 100%;
    background: rgba(136, 134, 134, 0.555);
    margin: auto;
}

.comment {
    width: 90%;
    padding: 10px;
    margin: 20px 0;
    border-radius: 5px;
    border: 1px solid $blue-main;
    font-size: 15px;
}

.comment-container {
    width: 90%;
    min-height: 150px;
    border: .5px solid rgba(160, 160, 160, 0.322);
    border-radius: 10px;
    margin: 5px auto;
    display: flex;
    height:auto;
}

.inner-comment {
    padding: 20px;
    width: 100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.comment-info {
    width: 100%;
    display: flex;
    justify-content: space-between;
    border-bottom: 1px solid rgb(231, 231, 231);
    padding: 5px 0;

}

.content {
    align-self: flex-start;
    text-align: left;
    padding-top:15px;
}

.name-pic {
    display: flex;

}

#pic {
    margin: -5px 5px 5px 0;
}
