@import "../../views/marketing/variables.scss";

.fact-card-container {
  width: 1030px;
  height: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.fact-details-wrapper,
.fact-quote-wrapper {
  width: 630px;
  height: 200px;
  border-radius: 5px;
  box-shadow: 0px 2px 16px 0px rgba(195, 195, 195, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.fact-details-wrapper {
  align-self: flex-start;
  padding-bottom: 30px;
}

.fact-quote-wrapper {
  background: white;
  align-self: flex-end;
  transform: translateY(-40px);
  padding: 20px 10px;
  display: flex;
  justify-content: space-evenly;
}

.quote-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}

#percentage {
  color: white;
  font-size: 55px;
  font-weight: 800;
  margin: 5px;
  padding: 40px;
}

#fact-text {
  color: white;
  font-size: 24px;
  text-align: left;
  margin: 10px;
  line-height: 34px;
  text-align: center;
}

#logo {
  padding: 50px;
}

#quote {
  width: 90%;
}

#quote-name {
  font-weight: 800;
}

.blue-card {
  background: $blue-main;
}

.green-card {
  background: $green-main;
}

.purple-card {
  background: $purple-main;
}

@media only screen and (max-width: 1020px) {
  .fact-card-container {
    width: 95%;
  }
}

@media only screen and (max-width: 780px) {
  .fact-card-container {
    align-items: center;
    height: 650px;
    .fact-details-wrapper,
    .fact-quote-wrapper {
      align-self: auto;
      width: 95%;
      height: 400px;
      flex-direction: column;
    }
    .fact-quote-wrapper {
      width: 80%;
    }
  }
  #percentage, #logo {
      padding: 10px;
  }
}

@media only screen and (max-width: 650px) {
  .fact-card-container {
    height: 600px;
    .fact-details-wrapper,
    .fact-quote-wrapper {
        height: 250px
    }
  }
  #fact-text {
    color: white;
    font-size: 19px;
    margin: 10px;
    line-height: 30px;
  }

}
