@import '../../views/marketing/variables.scss';

div, span, a {
  font-family: $font-family!important;
}

.leftpane-container {
  width: 250px;
  height: 100%;
  background-color: $dash-side-nav;
  position: fixed;
  top: 0;
  left: 0;
}

.leftpane-logo{
  height: 20px;
  width: 50px;
}

.title-side{
  color:#333333;
  margin: 10px;
}

.leftpane-component {
  height: 65px;
}

.leftpane-inbox-component {
  
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: left;
  padding-left: 25px;
  height: 60px;
  // border-bottom:solid 1px #999999;
  a{
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-content: center;
  }
  &:hover{
    background-color: #009aff;
    color:white;
    cursor: pointer;
    .title-side{
      color:white !important; 
    }
    .inboxCounter{
      background: white;
      color:#333333;
    }
  }
}

.inbox-wrap{
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;


}
.inboxCounter {
  height: 25px;
  display: flex;
  align-items: center;
  color:white;
  padding: 3px 15px;
  border-radius: 15px;
  background-color: #009aff;
}

.leftpane-week-component {
  display: flex;
  align-items: center;
  text-align: left;
  padding-left: 25px;
  height: 55px;
  // border-bottom:solid 1px #999999;
  &:hover{
    background-color: #009aff;
    color:white;
    cursor: pointer;
    .title-side{
      color:white !important; 
    }
  }
  a{
    text-decoration: none;
  }
}

.leftpane-boards-public-list-component, 
.leftpane-boards-private-list-component {
  display: flex;
  justify-content: flex-start;
  width: 100%;
  flex-direction: column;
  min-height: 40px;
  margin: 5px auto;
  // border-bottom:solid 1px #999999;
  &:hover{
    color:#009aff;
    cursor: pointer;
    .title-side{
    color:#009aff !important; 
    }
  }
  a{
    display:flex;
    justify-content: flex-start;
    align-content: center;
    text-decoration: none;
  }
}
.drop-menu {
  display:flex;
  flex-flow: column;
  padding-bottom: 10px;
}

.link-wrapper:hover {
  background-color: #e1e1e1;

}
