$red-background: rgba(226, 68, 92, 1);
$blue-background: rgba(87, 155, 252, 1);
$purple-background: rgba(162, 93, 220, 1);
$green-background: rgba(0, 200, 117, 1);

.column-modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  position: absolute;
  background-color: white;
  z-index: 500;
  top:125%;
  right:-12%;

  &:before {
    content: " ";
    position: absolute;
    border: solid transparent;
    border-color: rgba(212, 45, 45, 0);
    pointer-events: none;
    height: 0;
    width: 0;
    box-sizing: border-box;
    right: 50%;
    transform: translateX(50%);
    border-bottom-color: white;
    border-width: 10px;
    top: -20px;
  }
}

// .hidden{
//   display:none;
// }

.priority-container,
.status-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.column-modal-button {
  color: white;
  margin: 5px 0;
  width: 130px;
  height: 30px;
  font-size: 13px;
  align-items: center;
  display: flex;
  justify-content: center;
  &:hover {
    opacity: 0.85;
    cursor: pointer;
  }
}

.high-priority,
.in-progress-status {
  background: $red-background;
  color: white;
  text-align: center;
  
  &:hover{
    background: rgba(226, 68, 92, .75);
  }
}
.medium-priority,
.on-hold-status {
  background: $purple-background;
  color: white;
  text-align: center;

  &:hover{
    background: rgba(162, 93, 220, .75);
  }
}
.low-priority {
  background: $blue-background;
  color: white;
  text-align: center;

  &:hover{
    background: rgba(87, 155, 252, .75);
  }
}

.done-status {
  background: $green-background;
  color: white;
  text-align: center;

  &:hover{
    background: rgba(0, 200, 117, .75);
  }
}

.time-est-input {
  width: 80px;
  text-align: center;
  border: none;
  background: transparent;
  input {
    padding: 3px;
    margin: 0 2px;
    border: .3px solid transparent;
    &::placeholder{
      color: black;
    }
    &:focus {
      outline: none;
      background: white;
      // border: .3px dashed gray;
    }

  }

}

.time-est-wrapper {
  display: flex;
  align-items: center;
  padding: 0 5px;
  div {
    font-size: 15px;
  }
}
