$red-background: #e2445c;
$blue-background: #579bfc;
$purple-background: #a25ddc;
$green-background: #00c875;

.column-modal-container {
  display: none;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.32);
  border-radius: 4px;
  border: 1px solid #c4c4c4;
  &:before {
    content: " ";
    position: absolute;
    border: solid transparent;
    border-color: rgba(212, 45, 45, 0);
    pointer-events: none;
    height: 0;
    width: 0;
    box-sizing: border-box;
    right: 50%;
    transform: translateX(50%);
    border-bottom-color: white;
    border-width: 10px;
    top: 35px;
  }
}
// .hidden{
//   display:none;
// }

.priority-container,
.status-container {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.column-modal-button {
  color: white;
  margin: 5px 0;
  width: 130px;
  height: 30px;
  font-size: 13px;
  align-items: center;
  display: flex;
  justify-content: center;
  &:hover {
    opacity: 0.85;
  }
}

.high-priority,
.in-progress-status {
  background: $red-background;
  color: white;
  text-align: center;
}
.medium-priority,
.on-hold-status {
  background: $purple-background;
  color: white;
  text-align: center;
}
.low-priority {
  background: $blue-background;
  color: white;
  text-align: center;
}

.done-status {
  background: $green-background;
  color: white;
  text-align: center;
}
