.board-wrapper {
  width: 75vw;
  margin-bottom: 50px;
}
table {
  width: stretch;
  border-spacing: 1px;
  font-size: .75em;
  thead {
    tr {
    }
  }
  tr {
    background-color:#f0f0f0;
    th,
    td {
      text-align: left;
      padding: 5px;
      position: relative;
      &:focus,
      &:focus-within {
        outline:none;
        .column-modal-container {
          display: flex;
        }
      }
    }
    &.selected {
      th,
      td {
      }
    }
  }
}
.input-row {
  width: 100%;
  text-align: left;
  padding: 5px;
}
.add-row-input {
  width: stretch;
  padding: 16px;
  &:focus{
      outline:none;
  }
}
.add-row-input{
    width:stretch;
    padding:16px;
    background-color:lightgray;
}