h2{display: flex;
  justify-items: flex-start;
  margin-bottom: 15px;
}


.input_container{
  
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 45px;
  width: 500px;
  margin-bottom: 10px;
}

.lable{
  display: flex;
  align-items: center;
  height: 35px;
  width: 180px;
}

.current_password,.new_password,.confirm_new_password{
  border:solid 1px #009aff;
  height: 35px;
  width: 320px;
}