.board-view-container {
  margin-top: 30%;
  display: flex;
  flex-direction: column;
  align-items: center;
//   background-color:blue;
}
.grouped-teams{
    // border:1px solid black;
    margin-bottom:10px;
}